{% extends 'base.html' %} {% block title %}Add User{% endblock %} {% block
content %}
<!-- Your HTML content goes here -->
<body>
  <h1>New Friend</h1>
  <!-- <form action="/users/new" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name" autocomplete="off" />
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="last_name" autocomplete="off" />
    <label for="image_url">Profile Picture:</label>
    <input type="text" name="image_url" id="image_url" autocomplete="off" />
    <button type="submit">Add</button>
  </form> -->

  <form
    id="friend_form"
    action="/users/new"
    method="post"
    class="row g-3 needs-validation"
    novalidate
  >
    <div class="col-md-4 w-75">
      <label for="first_name" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        placeholder="Antewy"
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-md-4">
      <label for="last_name" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="last_name"
        name="last_name"
        placeholder="Roberto"
      />
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="col-md-6">
      <label for="image_url" class="form-label">Profile Picture</label>
      <input type="text" class="form-control" id="image_url" name="image_url" />
      <div class="invalid-feedback">Your Profile Picture URL</div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</body>
{% endblock %}
