{%extends 'base.html'%} {%block title%}Home{%endblock%} {%block content%}

<h1>Los Amigos</h1>
<p>
  Los Amigos is a social network for people who want to meet new people. You can
  share posts, see other people's posts, and make new FRIENDS.
</p>

<h1>Latest Posts</h1>
<ul class="list-group">
  {% for post in posts %}
  <li class="list-group-item">
    <a href="/posts/{{post.id}}">{{post.title}}</a>
  </li>
  {% endfor %}
</ul>

<h1>Tags</h1>
<ul class="list-group">
  {% for tag in tags %}
  <li class="list-group-item">
    <a href="/tags/{{tag.id}}">{{tag.name}}</a>
  </li>
  {% endfor %}
</ul>
<button class="btn btn-success" onclick="window.location.href='/tags/new'">
  Create Tag
</button>

<h1>Friends</h1>
<ul class="list-group">
  {% for user in users %}
  <li class="list-group-item">
    <a href="/users/{{user.id}}"
      >{{user.last_name.title()}} {{user.first_name.title()}}</a
    >
  </li>
  {% endfor %}
</ul>

{%endblock%}
